.input {
	width: calc(90% - 50px);
	height: fit-content;
	padding: 20px 25px;

	cursor: text;

	transition-duration: 300ms;

	color: var(--primary);
	border: 2px solid var(--primary);
	border-radius: 20px;
	outline: none;
	background: var(--white);

	font-size: 36px;
	font-weight: 600;
}

.input::placeholder {
	color: var(--darkLight);
}

.input::-ms-input-placeholder {
	color: var(--darkLight);
}

.input:active,
.input:hover,
.input:focus {
	border-color: var(--primary);
}

@media (max-width: 1024px) {
	.input {
		display: grid;

		width: calc(90% - 40px);
		padding: 15px 20px;

		font-size: 30px;
	}
}

@media (max-width: 580px) {
	.input {
		font-size: 24px;
	}
}
